<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/my/" method="POST">
  {% csrf_token %}
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/okjson2/".</p>

</body>
</html>


<!--If you click the "Submit" button, the form-data will be sent to a page called "/okjson2/"-->