{% extends 'track/base.html'%}
{%block content%}

      

<div class="container">
	


	<ul class="list-group">
                                <li class="list-group-item "><h2>Benefits of Tracking Prices With TRACKASS!</h2></li>
   <li class="list-group-item ">                                            
<h4>
	Price tracking offers direct and indirect benefits to the business and the seller as well. There are several benefits when you track item prices with TRACKASS Amazon price tracker, below are quite a few to state:

1.Save time by automating price tracking
2.its more efficient, economical and effective than manual price tracking
3.You can avoid human data entry errors with automation
4.his automation allows you to balance your work and social life
</h4></li>
 </ul> 
</div>




{%endblock content%}
