{% extends 'track/base_for_home.html'%}
{%block content%}
     



                  
                  <spam class=media>

                      
                            
                        
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 

                    
                            
                  
                   

                            <br>
                            <br>
                  
                 <div class="btn-group-vertical">
                       
                           <div > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              
                                <img src="\media\logo.png" class="img-responsive"width="230" height="190">
                              
                            </div>
        

                   <br><br>
     <font size="5" color="#138D75  "><img src="\media\ar.png" width="40" height="50">
                      Product Price Checking/Tracking</font>
 <br><font size="5" color= "#138D75"><img src="\media\ar.png" width="40" height="50">     Alerts/Notifys you when price changes</font>
<br><font size="5" color= "#138D75"><img src="\media\ar.png" width="40" height="50">      Save time by automating Price Tracking</font>
 <br><font size="5" color= "#138D75"><img src="\media\ar.png" width="40" height="50">    Effective then manual Price Tracking</font>


                       
                    </div>
                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                   
                        <div class="btn-group-vertical">
                      <spam>
                          <p class="round1">
                            <img src="\media\c11.jpg" class="img-responsive"width="500" height="300">
                          </p>
                        </spam>
                        <br>

                        <spam>
                          <p class="round1">
                            <img src="\media\c22.jpg" class="img-responsive"width="500" height="300">
                          </p>
                        </spam>
                        </div>
                       
                       
                    </spam>

          </div>
      
              
       
              
  
         
  












</div>


{%endblock content%}










