{% extends 'track/base.html'%}
{%block content%}

<div class="container">
	


	<ul class="list-group">
                                <li class="list-group-item "><h2>Why Do You Need Amazon Price History Tracking?</h2></li>
   <li class="list-group-item ">                                            
<h4>
	Keeping an eye on the prices of the products on Amazon is in a greater interest of both buyers and sellers. Buyers track  prices because they want to save money on regular products, hi-tech gadgets and electronic items they buy from amazon. In case of sellers, tracking and maintaining Amazon price history is essential to keep up with the competition. Sellers regularly need to reprice their items due to high competition and for a greater chance to win the Amazon buy box, so they won’t lose sales.
</h4></li>
 </ul> 
</div>
      
{%endblock content%}
